# Dependencies
/node_modules
frontend/node_modules/
backend/node_modules/

# User Uploads
/uploads

# Environment Variables
.env

# Build hasil compile
frontend/build/

# Folder Data Docker
mysql_data/

# File Log & System
.DS_Store
*.log
npm-debug.log*
